* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #bd9f5f;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:  100%;
    padding: 0 249px;
    border-bottom: 1px solid #dbdbdb;
}

header ul li{
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}

header ul li:last-child{
    margin-right: 0;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 18px;
}

header ul li a:hover{
    color: #f0cbc0;
}

/* Submenu */

header ul .sub-menu {
    position: absolute;
    width: 200px;
    background-color: #bd9f5f;
    box-shadow: 0 20px 45px #a18768;
    margin-top: -50px;
    opacity: 0;
    z-index: -999; 
    transition: all ease 0.5s;
}

header ul li:hover .sub-menu {
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

header ul .sub-menu li {
    margin: 0;
    width: 100px;
}

header ul .sub-menu li a{
    padding: 15px 20px;
    display: inline-block;
    width: 100px;
}
